header {
  display: flex;
  min-height: 575px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(#eee, white);
} .background {
  z-index: 0;
  opacity: 0.85;
  min-width: 100%;
  min-height: 575px;
  background-repeat: repeat;
  background-position: center;
  background-image: url("./header.png");
} .header {
  z-index: 1;
  top: 150px;
  margin: auto;
  width: 800px;
  display: flex;
  min-height: 300px;
  position: absolute;
  align-items: center;
  flex-direction: column;
  background-color: white;
  justify-content: space-evenly;
  box-shadow: 7px 7px 23px #ddd;
}

.button {
  color: white;
  font-size: 23px;
  cursor: pointer;
  padding: 13px 42px;
  border-radius: 50px;
  text-decoration: none;
  border: 3px solid #0b5394;
  background-color: #3d85c6;
  box-shadow: 0 0 3px #0b5394;
  text-shadow: 0 0 3px #052e52;
} .button:hover {
  text-shadow: none;
  background-color: #4e8dc5;
} .button:active {
  box-shadow: none;
  text-shadow: none;
} .orange {
  border: 3px solid #d48a00;
  background-color: #f3b749;
  box-shadow: 0 0 3px #835500;
  text-shadow: 0 0 3px #d48a00;
} .orange:hover {
  background-color: #f5c05e;
}

.try, .try article {
  display: flex;
  min-height: 1003px;
  align-items: center;
  background-color: white;
  justify-content: space-evenly;
} .try h1 {
  color: orange;
} .try article {
  flex-direction: column;
  justify-content: center;
} .try .button {
  margin-top: 20px;
} .try .button.orange {
  padding: 13px 64px;
}

.editor {
  width: 80%;
  display: flex;
  max-width: 570px;
  overflow: hidden;
  border-radius: 10px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: transparent;
  box-shadow: 7px 7px 13px #bbb;
} .code {
  padding-left: 20px;
} code {
  width: 100%;
  color: #ddd;
  display: flex;
  min-height: 300px;
  padding-left: 33px;
  flex-direction: column;
  justify-content: center;
  background-color: #03203a;
} .topbar {
  width: calc(100% - 5px);
  min-height: 25px;
  padding-top: 5px;
  padding-left: 5px;
  background-color: #000;
} .topbar span {
  color: #000;
  padding: 0 4px;
  border-radius: 100%;
} .topbar .yellow {
  color: gold;
  background-color: gold;
} .topbar .red {
  color: red;
  background-color: red;
} .topbar .green {
  color: limegreen;
  background-color: limegreen;
}

footer {
  margin: 0;
  padding: 0;
  color: white;
  text-align: center;
  padding-bottom: 7px;
  background-color: #333333;
} footer ul {
  margin: 0;
  width: 100%;
  display: flex;
  padding: 23px 0;
  list-style: none;
  align-items: center;
  margin-bottom: 7px;
  justify-content: center;
} footer ul li {
  margin: 0;
  padding: 0;
  margin-right: 20px;
} footer ul li:last-child {
  margin-right: 0;
} footer ul li a, footer ul li a:hover {
  margin: 0;
  padding: 0;
  border: none;
  font-weight: bold;
  background-color: transparent;
} footer ul li a:hover {
  color: white;
  text-decoration: underline;
} @media only screen and (max-width: 1000px) {
  .try article {
    min-height: auto;
  } .try {
    flex-direction: column;
  } .header {
    width: 80%;
  } .header h1 {
    font-size: 7vw;
  } .header h2 {
    font-size: 4vw;
  }
} @media only screen and (max-width: 600px) {
  footer ul {
    margin-bottom: 0;
    padding-bottom: 0;
    flex-direction: column;
  } footer ul li {
    margin-right: 0;
    margin-bottom: 20px;
  } .header h2 {
    font-size: 23px;
  }
} @media only screen and (max-width: 500px) {
  .header h1 {
    font-size: 42px;
  } 
}